<h1>New Gossip</h1>

<%= form_tag rumors_path do %>

  <%= label_tag 'a_author', "Author  : " %>
  <%= text_field_tag "a_author" %></br>
  </br>

  <%= label_tag 'content', "Content : " %>
  <%= text_area_tag "content", nil,:size =>"60x10" %></br>
  </br>

  <%= submit_tag "Create" %></br>
  </br>

<% end %>
